services:
  backend:
    build:
      context: ./backend/Project
      dockerfile: Dockerfile
    container_name: capstone-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/Project/.env
    volumes:
      - ./backend/Project:/app
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: capstone-frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: always
